.gasquereg_form {
	 width: 90%;
	 margin: auto; /*Centers the form on the page*/
	 padding: 0.6em;
	 border: solid thin #CCC;
	 border-radius: 0.5em;
}
.gasquereg_element_wrapper {
	text-align: left;
	margin: 0.5em;
}
.gasquereg_title {
	text-align: left;
}
.gasquereg_submit_wrapper {
	text-align: right;
}
.gasquereg_element_wrapper > input {
    width: 100%;
}
.gasquereg_element_wrapper > textarea {
    width: 100%;
}
.gasquereg_answers_table {
	border-collapse: collapse;
	width: 100%;
	margin: auto;
}
.gasquereg_answers_table thead {
	font-weight: bold;
}
.gasquereg_answers_table td {
	margin: 0;
	padding: 0.2em;
}
.gasquereg_answers_table tr:nth-child(even) {
	background-color: #EEE;
}