#listOfFormElements { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.formElement {
  margin: 0.5em;
 padding: 0.3em;
}
.formElement select {	
  margin: 0.2em 1em 0.2em 0.2em;
}
.descInput {
  margin: 0.2em;
  width: 95%;
 }